<carousel [isAnimated]="true">
    <slide>
        <img src="assets/images/hero1.jpg" alt="slide" style="display: block; height: 465px;">
    </slide>
    <slide>
        <img src="assets/images/hero2.jpg" alt="slide" style="display: block; height: 465px;">
    </slide>
    <slide>
        <img src="assets/images/hero3.jpg" alt="slide" style="display: block; height: 465px;">
    </slide>
</carousel>
<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1>Dave's Ski Gear!</h1>
    </div>
</section>
